body {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  background-color: #040D12;
}
.quote-box{
  background-color: #183D3D;
  border-radius: 15px;
  width: 700px;
}
.quote-container {
  padding: 35px;
  height: 50%;
  color: #5C8374
}
.quote {
  text-align: center;
  letter-spacing: -1px;
}
.quote-author {
  text-align: right;
  font-style: italic;
}
.buttons-container {
  display: flex;
  justify-content:space-between;
  align-items: center;

  padding: 35px;

  padding-top: 0;
}
button{
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #93B1A6;
  color: #040D12

}
.twitter-send {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #93B1A6;
  color: #040D12;
}

@media (max-width: 750px) {
  .quote-box{
    width: 365px;
  }
}